@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 390px;
    height: 360px;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    overflow: hidden;
}

.container .nav {
    width: 100%;
    height: 45px;
    background: #007fff;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0 12px;
}

.container .nav span {
    width: 130px;
    height: 95%;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
    cursor: pointer;
}

.container .nav span:hover {
    background: rgba(204, 228, 245, 0.295);
    border-radius: 12px 14px 0 0;
}

.container .nav span.active {
    background: white;
    color: #0077ff;
    border-radius: 12px 14px 0 0;
}

.container .tabs {
    display: flex;
    width: 100%;
    height: 100%;
}

.container .tabs > div {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0077ff;
}

.container .tabs #Control {
    display: none;
}

.container .tabs #Server {
    display: flex;
}

.container .tabs #Version {
    display: none;
}