* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 290px;
    background: #0077ff;
    border: 2px solid #0050ac;
    border-bottom: 5px solid #0050ac;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 18px;
    border-radius: 6px;
}

.container input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.container span {
    font-size: 19px;
    color: white;
}

.container button {
    padding: 8px;
    background: #0050ac;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.9;
}

.container button:hover {
    opacity: 1;
}